.social-links{
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}
.social-links a{
    text-decoration: none;
    color: #6a7199;
    padding-right: 20px;
    font-size: 14px;
}
